.pollollon{
  display: flex;
  padding: 10px;
  flex-direction: column;
  background-color: blue;
}

.pollollon input{
  padding: 5px;
  margin: 3px;
  font-family: 'Avenir';
  border:none;
  
}

.pollollon input:focus{
  outline: none;
}

.pollollon p{
  color:red;
}

.warning{
  background-color: yellow;
}

.good{
  background-color: green;
}

.bad{
  background-color: red;
}